<header>
  	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="#">Brand</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li *ngIf="isUserLoggedIn == 'true'" class="nav-item active">
          <a class="nav-link"  routerLink="/shoppingList">ShoppingList</a>
        </li>
         <li *ngIf="isUserLoggedIn == 'true'" class="nav-item active">
          <a class="nav-link"  routerLink="/recipes">Recipes</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li *ngIf="isUserLoggedIn == 'false'" class="nav-item active">
          <a class="nav-link"  routerLink="/signin">Signin</a>
        </li>
        <li *ngIf="isUserLoggedIn == 'false'" class="nav-item active">
          <a class="nav-link"  routerLink="/signup">Register</a>
        </li>
        <li *ngIf="isUserLoggedIn == 'true'" class="nav-item active pull-xs-right">
          <a class="nav-link"  routerLink="/">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

