<div class="container">
	<div class="row">
		<button type="button" class="btn btn-primary" (click)="newRecipe()">New Recipe</button>
	</div>
	<div class="row">
		<div class="col">
			<app-recipelist  [allRecipes]="recipes" (showDetail)="showDetailView($event)"></app-recipelist>
		</div>
		<div class="col">
			<div class="row">
				<div class="col" *ngIf="recipeSaved" >
					<app-addrecipe (recipes)="getData($event)"(savedRecipe)="savedRecipe($event)"></app-addrecipe></div>
				<div class="col"  *ngIf="showDetail">
					<app-recipedetail [recipeDetail]="recipeDetail"></app-recipedetail>
				</div>
			</div>
		</div>
	</div>	
</div>