<div class="container  mt-50">
	<form class="form-inline" [formGroup]="shoppingForm" (ngSubmit)='saveShopppingItem(shoppingForm.value)'>
		  <div class="form-group mr-2">
		    <label for="email">Recipie Name</label>
		   <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" formControlName="name" placeholder="Enter Name">
		    <div *ngIf="shoppingForm.controls['name'].hasError('required') && !shoppingForm.controls['name'].pristine" class="error-msg">Name is required</div>
        	
		  </div>
		  <div class="form-group mr-2">
		    <label for="password">Password</label>
		    <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" formControlName="price" placeholder="Enter price" formControlName="price">
	          	<div *ngIf="shoppingForm.controls['price'].hasError('required')  && shoppingForm.controls['price'].touched" class="error-msg">password is required.</div>
        	
        	</div>	
  		  <button type="submit" class="btn btn-primary mr-2" [disabled]="!shoppingForm.valid">Add</button>
  		  <input type="reset" class="btn btn-primary mr-2" name=""Clear/>
	 </form> 
	 <div class="card-block">
	 	<ul class="list-group">
		  <li class="list-group-item justify-content-between" *ngFor="let item of shoppingCartItems">
		    {{item.name}}
		    <span class="badge badge-default badge-pill">{{item.price}}</span>
		  </li>
		</ul>  
	 </div>
</div>
<ngbd-modal-content #modal class="modal"></ngbd-modal-content>
<button class="btn btn-lg btn-outline-primary" (click)="openModal()">Launch demo modal</button>

<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle [ngClass]="{'disabled': dropdownDisabled}" 
      >Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
  </div>

